<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h2>Welcome {{ session.user }}</h2>

<!-- ADD EXPENSE -->
<form action="/add" method="POST">
    <input type="number" name="amount" placeholder="Amount" required>
    <input type="text" name="category" placeholder="Category" required>
    <input type="date" name="date" required>
    <button type="submit">Add</button>
</form>

<br>

<!-- FILTER -->
<form method="GET">
    <input type="text" name="category" placeholder="Filter Category">
    <input type="month" name="month">
    <button type="submit">Filter</button>
</form>

<h3>Total: ₹{{ total }}</h3>

<!-- SMART INSIGHTS -->
{% if top_category %}
<p>🔥 Highest spending category: {{ top_category }}</p>
<p>📅 Highest spending month: {{ top_month }}</p>
{% endif %}

<!-- TABLE -->
<table border="1" cellpadding="5">
<tr>
    <th>Amount</th>
    <th>Category</th>
    <th>Date</th>
    <th>Action</th>
</tr>

{% for e in expenses %}
<tr>
    <td>{{ e.amount }}</td>
    <td>{{ e.category }}</td>
    <td>{{ e.date }}</td>
    <td>
        <a href="/delete/{{ loop.index0 }}">Delete</a> |
        <a href="/edit/{{ loop.index0 }}">Edit</a>
    </td>
</tr>
{% endfor %}

</table>

<br>

<!-- CATEGORY WISE -->
<h3>Category Wise</h3>
<ul>
{% for k, v in category_total.items() %}
    <li>{{ k }} : ₹{{ v }}</li>
{% endfor %}
</ul>

<!-- MONTH WISE -->
<h3>Month Wise</h3>
<ul>
{% for k, v in month_total.items() %}
    <li>{{ k }} : ₹{{ v }}</li>
{% endfor %}
</ul>

<!-- CHARTS -->
<h3>Charts</h3>
<canvas id="catChart"></canvas>
<br><br>
<canvas id="monthChart"></canvas>

<script>
let catData = {{ category_total | tojson }};
let monthData = {{ month_total | tojson }};

new Chart(document.getElementById("catChart"), {
    type: "pie",
    data: {
        labels: Object.keys(catData),
        datasets: [{
            data: Object.values(catData)
        }]
    }
});

new Chart(document.getElementById("monthChart"), {
    type: "bar",
    data: {
        labels: Object.keys(monthData),
        datasets: [{
            data: Object.values(monthData)
        }]
    }
});
</script>

<br>
<a href="/logout">Logout</a>

</body>
</html>